* {
	color: skyblue;
}
/* 타입선택자 : 특정 태그 이름을 가진 모든 요소*/
h1 {
	color: red;
}

/* 클래스 선택자 */
.font_color {
	color:  orange;
}

/* ID 선택자 */
#p1{
	color: rgb(17, 110, 40);
}

/* 그룹 선택자 */
em, strong {
	color: purple;
}