.h2-name {
	color: aqua; /* 잘안씀 */
}
.h2-hex {
	color: #00ffff;
}
.h2-rgb {
	color: rgb(138, 14, 14);
}
.h2-rgba {
	color: rgb(138, 14, 14, 0.1);
}

.h2-hsla {
	color: hsl(258, 100%, 50%); /* 잘안씀 */
}