*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    background-color: #000;
    padding: 2rem;
    text-align: center;
    background-image: url(/mini_board/src/img/bt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
}

table {
    border-collapse: collapse;
    width: 900px;
    height: 400px;
    margin: 30px auto;
    font-size: 1.2rem;
    text-align: center;
}

textarea {
    border-bottom:;
}

tr>td {
    border-bottom: 1px solid #000;
    text-align: center;
}
th {
    font-size: x-large;
}
td {
    border-style: inherit;
}

.table-title {
    border: none;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    height: 50px;
}
section {
    text-align: center;
    line-height: 20px;
}


a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
}
.page-btn { 
    display: inline; 
    margin: auto;
    padding: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 20px;
    color: #000;
}

.content {
    float: left;
    padding: 10px;
}

.bt {
    /* border-style: inherit; */
    display: inline; 
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    
}

