main {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
	gap: 1rem;
	padding-bottom: 70px;
}

#modal {
	position: absolute; 
	top: 0; 
	background-color: rgba(0,0,0,0.5);
	width:100vw;
	height: 100vh ;
	z-index: 10;
}

.displayNone {
	display: none;
}

#modalW {
	background-color:rgba(245, 244, 244, 0.9); 
	width:500px;
	 height: 500px ;
}

div#footer{
	justify-content: space-between;
}
